<main class="wrapper-edit">

  <header class="header-edit">
    <h2>Edit Profile</h2>
  </header>
  <section class="image-edit-wrapper">
    <% if current_user.profile_pic.url %>
      <img src=<%= image_path(current_user.profile_pic.url) %> class="img-circle" width="150" alt="profile picture" />
    <% else %>
      <img src=<%= image_path("default_profile_picture.png") %> class="img-circle" width="150" alt="profile picture" />
    <% end %>
  </section>
  <div class="image-links-container">
    <a href="#" id="profile_upload">Upload Picture</a>
    <span> | </span>
    <a href="#">Remove Picture</a>
  </div>
  <section class="form-edit">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <div class="field">
        <%= f.label :year %><br />
        <%= f.number_field :year %>
      </div>

      <div class="field">
        <%= f.label :major %><br />
        <%= f.text_field :major %>
      </div>

      <div class="field">
        <%= f.label :organizations %><br />
        <%= f.text_area :organizations %>
      </div>

      <div class="field">
        <%= f.label "About me" %><br />
        <%= f.text_area :about %>
      </div>

      <div class="field hide">
        <%= f.label :profile_pic %><br />
        <%= f.file_field :profile_pic %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="actions">
        <%= f.submit "Save" %>
      </div>
    <% end %>
  </section>
</main>
