<div class="wrapper-edit">

  <header class="header-edit">
    <h2>Edit Profile</h2>
  </header>
  <section id="profile-pic-edit" class="image-edit-wrapper">
    <!--<div id="profile-pic-wrapper"><-->
    <% if current_user.profile_pic.url %>
      <img src=<%= image_path(current_user.profile_pic.url) %> style="width:150px; height:150px" class="picture img-circle prof-icon" alt="profile picture" />
    <% else %>
      <img src=<%= image_path("default_profile_picture.png") %> style="width:150px; height:150px" class="picture img-circle prof-icon" alt="profile picture" />
    <% end %>
    <!--</div>-->
  </section>
  <div class="image-links-container">
    <a href="#" id="profile_upload">Upload Picture</a>
    <span> | </span>
    <a href="/user/remove_picture">Remove Picture</a>
  </div>
  <section class="form-edit">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div id="file-upload-edit" class="field">
        <label for="profile-pic-preview">Profile Picture Preview</label>
        <div id="profile-pic-preview">
          <div class="button-wrapper">
            <button id="clear-picture">Clear Picture</button>
          </div>
        </div>
      </div>

      <div class="field">
        <%= f.number_field :year, placeholder: "Year" %>
      </div>

      <div class="field">
        <%= f.text_field :major, placeholder: "Major" %>
      </div>

      <div class="field">
        <%= f.text_area :organizations, placeholder: "Organizations" %>
      </div>

      <div class="field">
        <%= f.text_area :about, placeholder: "About me..." %>
      </div>

      <div class="field hide">
        <%= f.label :profile_pic %><br />
        <%= f.file_field :profile_pic %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="actions">
        <%= f.submit "Save", :class => "edit-button" %>
        <%= f.submit "clear", :type => "reset", :class => "edit-button", :id => "button-clear" %>
      </div>
    <% end %>
  </section>
</div>
