<div class="comment" id=<%= "comment-#{comment.id}" %> >
  <hr />
  <% if comment.user_id == current_user.id %>
    <%= link_to  "x", comment_path(comment), method: :delete, remote: false, confirm: "Are you sure you want to remove this comment?", disable_with: "x", class: 'close' %>
  <% end %>

  <%= link_to user_path(@petition.user.id) do %>
  <h4><span>
    <% if @petition.user.profile_pic.url %>
      <img class="img-circle nav-prof" style="padding: 0;" src=<%= image_path(@petition.user.profile_pic.url) %> alt="Profile picture">
    <% else %>
      <img class="img-circle nav-prof" style="padding: 0;" src=<%= image_path("default_profile_picture.png") %> alt="Profile picture">
    <% end %>
    </span><%= comment.user.first_name %></h4>
  <% end %>
  <p>Body: <%= comment.body %></p>
  <p>Id: <%= comment.id %></p>
  <p>User_id: <%= comment.user_id %></p>
  <!-- TODO: use time_diff gem to show '2 seconds ago', '11 months ago' etc -->
  <h6><%= comment.updated_at %></h6>

  <% if user_signed_in? %>
    <p class="reply">Reply</p>
  <% end %>

  <% if comment.has_children? %>
    <div class="comment">
      <% comment.children.each do |child| %>
        <%= render "comments/comment", comment: child %>
      <% end %>
    </div>
  <% end %>
</div>
