<% if current_user %>
  <%= form_for @new_comment, :remote=>true do |f| %>
    <%= f.hidden_field :commentable_id, value: @new_comment.commentable_id %>
    <%= f.hidden_field :commentable_type, value: @new_comment.commentable_type %>
    <%= f.text_area :body, label: false, class: 'form-control' %>

    <%= submit_tag 'Post comment', class: 'btn btn-primary' %>
  <% end %>
<% else %>
  <p style="margin-left:15%">You must be signed in to comment</p>
<% end %>
