<% comments.each do |comment| %>
  <div class="comment" id="comment-<%= comment.id %>">
    <% if current_user and comment.user_id == current_user.id %>
      <%= link_to  "x", comment_path(comment), method: :delete, remote: false, confirm: "Are you sure you want to remove this comment?", disable_with: "x", class: 'close' %>
    <% end %>

    <%= link_to user_path(comment.user.id) do %>
    <h4><span>
      <% if comment.user.profile_pic.url %>
        <img class="img-circle nav-prof" style="padding: 0;" src=<%= image_path(comment.user.profile_pic.url) %> alt="Profile picture">
      <% else %>
        <img class="img-circle nav-prof" style="padding: 0;" src=<%= image_path("default_profile_picture.png") %> alt="Profile picture">
      <% end %>
      </span>
      <% if comment.user.admin? %>
        <img src="<%= image_path("adminbutton.png") %>" class="comment_admin_tag" />
      <% elsif comment.user.government? %>
        <img src="<%= image_path("govbutton.png") %>" class="comment_gov_tag" />
      <% end %>
      <%= comment.user.first_name + " " + comment.user.last_name %></h4>
    <% end %>
    <div class="comment-body">
      <%= comment.body %>
    </div>
    <!-- TODO: use time_diff gem to show '2 seconds ago', '11 months ago' etc -->
    <h6>
      <%= time_ago_in_words(comment.created_at) %> ago
    </h6>

    <span class="comment-reply">reply</span>

    <div class="reply-form" style="display:none">
      <% if current_user %>
        <%= form_for @new_comment, :remote=>true do |f| %>
          <%= f.hidden_field :commentable_id, value: @new_comment.commentable_id %>
          <%= f.hidden_field :commentable_type, value: @new_comment.commentable_type %>
          <%= f.hidden_field :comment_id, value: comment.id %>

          <%= f.text_area :body, class: 'form-control' %>

          <%= submit_tag "Post Reply", class: 'btn btn-primary' %>
        <% end %>
      <% else %>
        <p>You must be signed in to reply</p>
      <% end %>
    </div>

    <%= render "comments/reply", comments: comment.children.order('created_at ASC') %>
  </div>
<% end %>
