<% if @petition.status == "closed" %>
  <h3 class="share-title">Petition Closed!</h3>
<% elsif @petition.status == "victory" %>
  <h3 class="share-title">Petition Closed!</h3>
<% else %>
  <h3 class="share-title">Sign Petition!</h3>
<% end %>
<ul style="padding-left:20px">
  <li>
    <%= image_tag "default_profile_picture.png", class: "share-icon" %>
  </li>
  <li>
    <p style="letter-spacing:0.9px; font-size:16px"><%= @petition.signatures.count + 1 %>/<%= @petition.goal %> Supporters</p>
  </li>
</ul>

<progress value=<%= @petition.signatures.count + 1 %> max=<%= @petition.goal %>></progress>

<% if @petition.status == "closed" or @petition.status == "victory" %>
  <p style="margin-left: 20px">Signatures are Closed</p>
<% elsif !current_user %>
  <p style="margin-left: 20px">You must be signed in to sign this petition</p>
<% elsif current_user.id != @petition.user.id and !current_user.petitions.exists?(@petition.id) %>
  <%= render "petitions/reason" %>
<% elsif current_user.id != @petition.user_id %>
  <p style="margin-left: 20px">You signed this petition</p>
  <%= link_to  "Remove Signature", signatures_path(current_user.id), method: :delete, remote: true, class: 'signature-remove' %>
<% end %>
<%= link_to image_tag("facebook_share_button.png", class: "share-facebook", target: "_blank"), "https://www.facebook.com/sharer/sharer.php?u=#{petition_url(@petition)}" %>
