<div style="margin-top:10px; margin-bottom:100px">
  <div class="container padded">
    <h1 class="new-petition-title"><b>Create Petition</b></h1>
    <br>
    <%= form_for(@petition) do |f| %>
      <% if @petition.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@petition.errors.count, "error") %> prohibited this petition from being saved:</h2>

          <ul>
          <% @petition.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.hidden_field :user_id, value: current_user.id %>
      <h2><b>1. Add Your Petition Title</b></h2>
      <p>This is the first thing people will see about your petition.
        Get their attention with a short title that focuses on the change you’d like them to support.</p>
      <p>
        <%= f.text_field :title, placeholder: "Title" %>
      </p><br>

      <h2><b>2. Add a Description</b></h2>
      <p>People are more likely to support your petition if it’s clear why you care.
        Explain how this change will impact the UCLA community.</p>
      <p>
        <%= f.text_area :description, placeholder: "Description" %>
      </p><br>

      <h2><b>3. Choose Categories</b></h2>
      <p>These are the filters you want to add for your petition,
         add as many relevant tags as you can. This will help other people search
         for your petition using BruinSpeak’s search feature.</p>
      <p>
        <%= f.text_field :tag_list, placeholder: "Tags" %>
      </p><br>

      <h2><b>4. Add an Image/Video</b></h2>
      <p>Petitions with a photo or video receive many times more
        signatures than those without. Include one that captures the emotion of your petition.</p>
      <p>
        <%= f.file_field :image %>
      </p><br>

      <h2><b>5. Set a Goal</b></h2>
      <p>Choose how many signatures you need for your petition to be successful.</p>
      <p>
        <%= f.number_field :goal, min: 10, value: 10 %>
      </p><br>

      <h2><b>5. Requesting Money</b></h2>
      <p>Ask the student government for money for your cause.</p>
      <p>
        <%= f.number_field :money_request, min: 0, value: 0 %>
      </p><br>

      <h2><b>7. Make it Public</b></h2>
      <p>Do you want to launch it right now or wait until later?</p>
      <p>
        <%= f.check_box :public %>
      </p><br>

      <p>
        <%= f.submit class: "btn btn-primary" %>
      </p>

    <% end %>
  </div>
</div>
