<div>
  <div class="container padded">
    <h1>Create a new petition</h1>
    <%= form_for(@petition) do |f| %>
      <% if @petition.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@petition.errors.count, "error") %> prohibited this petition from being saved:</h2>

          <ul>
          <% @petition.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.hidden_field :user_id, value: current_user.id %>

      <p>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </p>

      <p>
        <%= f.label :description %><br>
        <%= f.text_area :description %>
      </p>

      <p>
        <%= f.label :image %><br>
        <%= f.file_field :image %>
      </p>

      <p>
        <%= f.label :tag_list %><br>
        <%= f.text_field :tag_list %>
      </p>

      <p>
        <%= f.label :goal %><br>
        <%= f.number_field :goal %>
      </p>

      <p>
        <%= f.submit %>
      </p>

    <% end %>
  </div>
</div>
