<div class="new-petition-container">
  <div class="container padded petition-create--wrapper">
  <!-- <div class="padded petition-create--wrapper"> -->
    <h1 class="new-petition-title"><b>Create Petition</b></h1>
    <%= form_for(@petition) do |f| %>

    <% if @petition.errors.any? %>
      <div id="error_explanation">

        <% @petition.errors.full_messages.each do |message| %>
          <p class="petition-error"><%= message %></div>
        <% end %>
    <% end %>

    <div id="new-petition-form" class="carousel slide hidden-xs" data-ride="carousel" data-interval="0">

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <%= f.hidden_field :user_id, value: current_user.id %>
          <h2 class="new-petition-h2"><b>1. Add Your Petition Title</b></h2>
          <div class="new-petition-tagline">This is the first thing people will see about your petition.
            Get their attention with a short title that focuses on the change you’d like them to support.</div>
          <div>
            <%= f.text_field :title, placeholder: "Title", class: "petition-create--input" %>
          </div><br>

          <h2 class="new-petition-h2"><b>2. Add a Description</b></h2>
          <div class="new-petition-tagline">People are more likely to support your petition if it’s clear why you care.
            Explain how this change will impact the UCLA community.</div>
          <div>
            <%= f.text_area :description, placeholder: "Description", class: "petition-create--input" %>
          </div>
        </div>

        <div class="item">
          <h2 class="new-petition-h2"><b>3. Choose Categories</b></h2>
          <div class="new-petition-tagline">These are the filters you want to add for your petition,
             add as many relevant tags as you can. This will help other people search
             for your petition using BruinSpeak’s search feature.</div>
          <div>
            <%= f.text_field :tag_list, placeholder: "Tags", class: "petition-create--input" %>
          </div><br>

          <h2 class="new-petition-h2"><b>4. Add an Image</b></h2>
          <div class="new-petition-tagline">Petitions with a photo receive many times more
            signatures than those without. Include one that captures the emotion of your petition.</div>
          <div>
            <%= f.file_field :image %>
          </div><br>

          <h2 class="new-petition-h2"><b>5. Set a Goal</b></h2>
          <div class="new-petition-tagline">Choose how many signatures you need for your petition to be successful.</div>
          <div>
            <%= f.number_field :goal, min: 10, value: 10, class: "petition-create--input" %>
          </div>
        </div>

        <div class="item">
          <h2 class="new-petition-h2"><b>6. Requesting Money</b></h2>
          <div class="new-petition-tagline">Ask the student government for money for your cause.</div>
          <div>
            <%= f.number_field :money_request, min: 0, value: 0, class: "petition-create--input" %>
          </div><br>

          <h2 class="new-petition-h2"><b>7. Deliver To</b></h2>
          <div class="new-petition-tagline">Who do you want to answer to this petiton?</div>
          <div id="petition-recievers">
            <div class="petition-recievers-wrapper">
              <input placeholder="Who?" type="text" name="petition[recievers][]" , class="petition-create--input petition-create--input--recievers">
              <button class="petition-create--btn">Remove</button>
            </div>
          </div>
          <button class="btn btn-info" id="petition-recievers-button" style="margin-left:0; margin-bottom:30px; margin-top:10px">Add More</button>
          <br>

          <h2 class="new-petition-h2"><b>8. Make it Public</b></h2>
          <div class="new-petition-tagline">Do you want to launch it right now or wait until later?</div>
          <div>
            <%= f.check_box :public %>
          </div><br>

          <div>
            <%= f.submit class: "btn btn-primary", :style => "margin: auto;" %>
          </div>
        </div>
      </div>

      <!-- <a href="#new-petition-form" data-slide="prev">
        <span style="position:absolute; bottom:0; left:0">Previous</span>
      </a>
      <a class="right carousel-control" href="#new-petition-form" data-slide="next">
        <span style="position:absolute; bottom:0; right:0">Next</span>
      </a> -->
    </div>

    <% end %>
  </div>
</div>

<!-- Left and right controls -->
<div class="controlsBlock">
  <div class="controls">
    <a id="left-arrow-petition-form" class="left carousel-control pet-form" href="#new-petition-form" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <div class="carousel-indicators pet-form">
      <li data-target="#new-petition-form" data-slide-to="0" class="active"></li>
      <li data-target="#new-petition-form" data-slide-to="1"></li>
      <li data-target="#new-petition-form" data-slide-to="2"></li>
    </div>
    <a id="right-arrow-petition-form" class="right carousel-control pet-form" href="#new-petition-form" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>
</div>
