<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel|Open+Sans|Source+Sans+Pro" />

<div class="petition-page-title">
  <h1 style="margin-bottom:0"><%= @petition.title %></h1>
  <div class="profile-icon">
    <% if @petition.user.profile_pic.url %>
      <img class="picture" src=<%= image_path(@petition.user.profile_pic.url) %> alt="Profile picture">
    <% else %>
      <img class="picture" src=<%= image_path("default_profile_picture.png") %> alt="Profile picture">
    <% end %>
  </div>
  <div class="petition-page-author">
    <p><%= @petition.user.first_name + " " + @petition.user.last_name %></p>
  </div>
</div>

<div class="pet-container">
  <div class="pet-content">
    <div class="pet-img-container">
      <div class="tag">
        <img src=<%= image_path("closed_badge.png") %>>
      </div>
      <% if @petition.image.url %>
        <img src=<%= image_path(@petition.image.url) %> width="700" height="400">
      <% else %>
        <img src="http://www.placehold.it/700x400">
      <% end %>
    </div>
    <p><%= @petition.description %></p>
    <p class="bottom-petition-text">This petition will be delivered to:</p>
    <p class="board-members"><a href="#">Danny Siegel</a></p>
    <p class="board-members"><a href="#">Sabrina Zeigler</a></p>
    <p class="board-members"><a href="#">Rafael Sands</a></p>
    <p class="board-members"><a href="#">Zoe Borden</a></p>
    <p class="board-members"><a href="#">Ruchit Majmudar</a></p>
    <p class="board-members"><a href="#">Inan Chowdhury</a></p>
  </div>
  <div class="share-container">
    <div class="share-card">
      <h3 class="share-title">Petition Closed!</h3>
      <ul style="padding-left:25px">
        <li>
          <img class="share-icon" src="/assets/default_profile_picture.png">
        </li>
        <li>
          <p>1967/2000 Supporters</p>
        </li>
      </ul>
    </div>
  </div>
</div>
