<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel|Open+Sans|Source+Sans+Pro" />

<div class="petition-page-header">
  <h1 class="petition-page-title"><%= @petition.title %></h1>
  <div class="profile-icon">
    <% if @petition.user.profile_pic.url %>
      <img class="picture" src=<%= image_path(@petition.user.profile_pic.url) %> alt="Profile picture">
    <% else %>
      <img class="picture" src=<%= image_path("default_profile_picture.png") %> alt="Profile picture">
    <% end %>
  </div>
  <div class="petition-page-author">
    <p><%= @petition.user.first_name + " " + @petition.user.last_name %></p>
  </div>
</div>

<div class="pet-container">
  <div class="pet-content">
    <div class="pet-img-container">
      <div class="tag">
        <% if @petition.status == "closed" %>
          <img src=<%= image_path("closed_badge.png") %>>
        <% elsif @petition.status == "victory" %>
          <img src=<%= image_path("victory_badge.png") %>>
        <% else %>
          <img src=<%= image_path("active_badge.png") %>>
        <% end %>
      </div>
      <% if @petition.image.url %>
        <img src=<%= image_path(@petition.image.url) %> width="700" height="450"/>
      <% else %>
        <img src="http://www.placehold.it/700x450"/>
      <% end %>
    </div>
    <p><%= @petition.description %></p>
    <p class="bottom-petition-text">This petition will be delivered to:</p>
    <p class="board-members"><a href="#">Danny Siegel</a></p>
    <p class="board-members"><a href="#">Sabrina Zeigler</a></p>
    <p class="board-members"><a href="#">Rafael Sands</a></p>
    <p class="board-members"><a href="#">Zoe Borden</a></p>
    <p class="board-members"><a href="#">Ruchit Majmudar</a></p>
    <p class="board-members"><a href="#">Inan Chowdhury</a></p>
  </div>
  <div class="share-container">
    <div class="share-card">
      <h3 class="share-title">Petition Closed!</h3>
      <ul style="padding-left:20px">
        <li>
          <img class="share-icon" src="/assets/default_profile_picture.png">
        </li>
        <li>
          <p style="letter-spacing:0.9px; font-size:16px"><%= @petition.signatures.count %>/2000 Supporters</p>
        </li>
      </ul>
      <progress value="1967" max="2000"></progress>
      <% if !current_user.petitions.exists?(@petition.id) %>
        <%= form_for @signature, html: {style: 'height: 100%;'} do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :petition_id, value: @petition.id %>
          <%= f.text_area :reason, label: false, class: "write-box" %>

          <%= submit_tag 'Sign', class: 'btn btn-primary' %>
          <%= link_to image_tag("/assets/facebook_share_button", class: "share-facebook"), "http://www.facebook.com/sharer.php?u=#{petition_url(@petition)}" %>
          <%= link_to "Tweet it", "http://twitter.com/home?status=#{@petition.title} #{petition_url(@petition)}" %>
        <% end %>
      <% else %>
        <p>You've already signed this petition</p>
        <%= link_to image_tag("/assets/facebook_share_button", class: "share-facebook"), "http://www.facebook.com/sharer.php?u=#{petition_url(@petition)}" %>
        <%= link_to "Tweet it", "http://twitter.com/home?status=#{@petition.title} #{petition_url(@petition)}" %>
      <% end %>
    </div>
  </div>
</div>

<%= render "comments/new_comment", comment: @new_comment %>
<% @comments.each do |comment| %>
  <%= render "comments/comment", comment: comment %>
<% end %>
