<div class="profile-wrapper">
  <% if @user.profile_pic.url %>
    <img class="prof-icon" src=<%= image_path(@user.profile_pic.url) %> alt="Profile picture">
    <% else %>
    <img class="prof-icon" src=<%= image_path("default_profile_picture.png") %> alt="Profile picture">
  <% end %>

  <h1><%= @user.first_name + " " + @user.last_name %></h1>
  <br>

  <p class="profile-info">Major: <span class="profile-values"><%= @user.major %></span></p>
  <p class="profile-info">Organizations: <span class="profile-values"><%= @user.organizations %></span></p>
</div>
