<div class="profile-wrapper" id="profile-wrapper">
    <% if @user.profile_pic.url %>
    <img id="profile-pic" class="prof-icon img-circle" src=<%= image_path(@user.profile_pic.url) %> alt="Profile picture">
    <% else %>
    <img id="profile-pic" class="prof-icon img-circle" src=<%= image_path("default_profile_picture.png") %> alt="Profile picture">
    <% end %>

    <div class="profile-description">
        <h1 class="prof-name"><%= @user.first_name + " " + @user.last_name %></h1>
        <h4 class="prof-sub"><span class="petition-num"><%= @public_petitions.count %> <span>Petitions | Joined <span class="join-date"><%= @user.created_at.strftime("%b %Y") %></span></h2>
        <% if current_user and current_user.at_least_gov? %>
            <h4 class="prof-sub">Role: <%= @user.get_role.capitalize %></h4>
        <% end %>
        <% if current_user and current_user.id != @user.id and current_user.admin? %>
            <div id="profile-role-change">
              <select name="profile-role" id="profile-role">
                <%= options_for_select([["Default", 0], ["Government", 1], ["Admin", 2]], [@user.role]) %>
              </select>
              <button id="profile-role-button">Change Role</button>
            </div>
        <% elsif current_user and current_user.id != @user.id and current_user.government? and @user.role <= current_user.role %>
            <div id="profile-role-change">
              <select name="profile-role" id="profile-role">
                <%= options_for_select([["Default", 0], ["Government", 1]], [@user.role]) %>
              </select>
              <button id="profile-role-button">Change Role</button>
            </div>
        <% end %>

        <% if current_user and @user.id == current_user.id %>
        <a href="/users/edit"><button type="button" class="btn btn-default" id="edit-profile-btn" aria-label="Left Align">
            EDIT PROFILE
        </button></a>
        <% end %>

        <div>
            <p class="profile-info">Major: <span class="profile-values"><%= @user.major %></span></p>
            <p class="profile-info">Organizations: <span class="profile-values"><%= @user.organizations %></span></p>
        </div>

        <ul class="nav nav-pills nav-justified pages-tabs">
            <li class="active profile-tabs"><a href="#signed-tab" data-toggle="tab">Signed (<span class="signed-num"><%= @signatures.count %></span>)</a></li>
            <li class="profile-tabs"><a href="#favorites-tab" data-toggle="tab">Created (<span class="favorite-num"><%= @public_petitions.count %></span>)</a></li>
            <li class="profile-tabs"><a href="#started-tab" data-toggle="tab">Unpublished (<span class="started-num"><%= @private_petitions.count %></span>)</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="tab-content">
        <div class="tab-pane in active" id="signed-tab">
            <% count = 0 %>
            <ul>
                <% @signatures.each do |signature| %>
                <% petition = Petition.find(signature.petition_id) %>
                <% if count % 4 == 0 && count != 0 %>
            </ul>
            <ul>
                <% end %>
                <li class="card-list">
                    <%= render 'shared/post', petition: petition %>
                </li>
                <% count = count + 1 %>
                <% end %>
            </ul>
        </div>
        <div class="tab-pane" id="favorites-tab">
            <% count = 0 %>
            <ul>
                <% @public_petitions.each do |petition| %>
                <% if count % 4 == 0 && count != 0 %>
            </ul>
            <ul>
                <% end %>
                <li class="card-list">
                    <%= render 'shared/post', petition: petition %>
                </li>
                <% count = count + 1 %>
                <% end %>
            </ul>
        </div>
        <div class="tab-pane" id="started-tab">
            <% count = 0 %>
            <ul>
                <% @private_petitions.each do |petition| %>
                <% if count % 4 == 0 && count != 0 %>
            </ul>
            <ul>
                <% end %>
                <li class="card-list">
                    <%= render 'shared/post', petition: petition %>
                </li>
                <% count = count + 1 %>
                <% end %>
            </ul>
        </div>
    </div>
</div>
