<%= link_to petition_path(petition.id) do %>
  <% if petition.image.url %>
    <img src=<%= image_url(petition.image.url) %> alt="Avatar">
  <% else %>
    <img src="http://cdn.modernfarmer.com/wp-content/uploads/2014/12/squirrel.jpg">
  <% end %>
<% end %>
<div class="carousel-content">
  <%= link_to petition.title, petition_path(petition.id), class: "carousel-content-title" %>
  <p class="carousel-content-author"><%= petition.user.full_name %></p>
  <p class="carousel-content-desc"><%= petition.description %></p>
  <div class="carousel-bottom">
    <ul class="petition-stats-carousel">
      <li>
        <div class="stats-value"><%= petition.goal %></div>
        <span>signed</span>
      </li>
      <li>
        <div class="stats-value"><%= petition.signatures.count %></div>
        <span>needed</span>
      </li>
      <li>
        <div class="stats-value">2</div>
        <span>days remaining</span>
      </li>
    </ul>
  </div>
</div>
