<%= link_to petition_path(petition.id) do %>
    <% if petition.image.url %>
      <!-- <img src=<%= image_url(petition.image.url) %> alt="Avatar"> -->
      <div class="carousel-image" style="background-image: url('<%= image_url(petition.image.url) %>')" alt="Avatar">
    <% else %>
      <!-- <img src="http://cdn.modernfarmer.com/wp-content/uploads/2014/12/squirrel.jpg"> -->
      <div class="carousel-image" style="background-image: url(<%= image_url('card_default.png') %>)">
    <% end %>
  </div>
<% end %>

<div class="carousel-content">
  <%= link_to petition.title, petition_path(petition.id), class: "carousel-content-title" %>
  <%= link_to user_path(petition.user.id) do %>
    <p class="carousel-content-author"><%= petition.user.full_name %></p>
  <% end %>
  <p class="carousel-content-desc"><%= petition.description[0..500] %>...</p>
  <div class="carousel-bottom">
    <ul class="petition-stats-carousel">
      <li>
        <%= image_tag "supporters_icon.png", class: "petiton-stat-img", width: "40px", height: "40px" %>
        <div class="stats-value"><%= petition.signatures.count + 1 %></div>
        <% if petition.signatures.count + 1 == 1 %>
          <span>Supporter</span>
        <% else %>
          <span>Supporters</span>
        <% end %>
      </li>
      <li>
        <img width="40px" height="40px" class="petiton-stat-img" src="/assets/supporters_icon.png">
        <div class="stats-value"><%=  petition.goal %></div>
        <span>Needed</span>
      </li>
      <li>
       <img width="40px" height="40px" class="petiton-stat-img" src="/assets/money_icon.png">
        <div class="stats-value">$<%=  petition.money_request %></div>
        <span>Requested</span>
      </li>
      <!--<li>
        <div class="stats-value">2</div>
        <span>days remaining</span>
      </li>-->
    </ul>
  </div>
</div>
