<!--footer-->
<footer class="footer1">
    <div class="container-">

    </div>
</footer>

<footer class="footer navbar-fixed-bottom">

    <div class="container-fluid">

        <div class="row">

            <div class="pull-left">

                <div class="copyright">
                    <!-- <ul> -->
                    <!-- <div class="container_row"> -->
                    <li><%= link_to root_path do %>
                        BRUIN<span>SPEAK<span>
                            <% end %></li>
                            <!-- </div> -->
                            <!-- <div class="container_row"> -->
                            <li>    © 2017</li>
                            <!-- </div> -->
                            <!-- </ul> -->
                        </div>

                    </div>

                    <div class="pull-right">

                        <ul class="list-inline footer-right-elements">
                            <li><%= link_to "About", "#"%></li>
                            <li><%= link_to "Contact", "#"%></li>
                            <li><%= link_to "Terms & Conditions", "#"%></li>
                            <li><%= link_to "Privacy", "#"%></li>
                        </ul>

                    </div>

                </div>

            </div>
        </footer>
