<div class="card">
  <div>
    <% if petition.image.url %>
      <%= link_to petition_path(petition.id) do %>
        <img class="petition-img" src=<%= image_url(petition.image.url) %> alt="Avatar">
      <% end %>
    <% else %>
      <%= link_to petition_path(petition.id) do %>
        <img class="petition-img" src=http://cdn.modernfarmer.com/wp-content/uploads/2014/12/squirrel.jpg alt="Avatar">
      <% end %>
    <% end %>
  </div>
  <div class="container">
    <%= link_to petition.title, petition_path(petition.id), class: "petition-title" %>
    <p class="petition-author"><%= petition.user.first_name + " " + petition.user.last_name %></p>
    <p class="petition-desc"><%= petition.description %></p>
  </div>
  <div class="container bottom">
    <ul class="petition-stats">
      <li>
        <div class="stats-value">100</div>
        <span class="stats-label">signed</span>
      </li>
      <li>
        <div class="stats-value">50</div>
        <span class="stats-label">needed</span>
      </li>
      <li>
        <div class="stats-value">2</div>
        <span class="stats-label">days remaining</span>
      </li>
      <li>
        <img class="sign-icon" src=<%= image_path("pencil.png") %> alt="Sign">
      </li>
    </ul>
  </div>
</div>
