<div class="card">
  <div>
    <% if petition.image.url %>
      <%= link_to petition_path(petition.id) do %>
        <img class="petition-img" src=<%= image_url(petition.image.url) %> alt="Avatar">
      <% end %>
    <% else %>
      <%= link_to petition_path(petition.id) do %>
        <img class="petition-img" src="/assets/card_default" alt="petition image">
      <% end %>
    <% end %>
  </div>
  <div class="con">
    <b><%= link_to petition.title, petition_path(petition.id), class: "petition-title" %></b>
    <%= link_to user_path(petition.user.id) do %>
      <p class="petition-author"><%= petition.user.full_name %></p>
    <% end %>
    <p class="petition-desc"><%= petition.description[0..100] %>...</p>
  </div>
  <div class="petition-stats-wrapper">
    <div class="petition-stats-col">
      <img width="50px" height="50px" class="petiton-stat-img" src="/assets/supporters_icon.png">
      <div class="petition-stat-stack">
        <div><%= petition.signatures.count + 1 %></div>
        <div>Supporters</div>
      </div>
    </div>
    <div class="petition-stats-col">
      <img width="50px" height="50px" class="petiton-stat-img" src="/assets/money_icon.png">
      <div class="petition-stat-stack">
        <div>$ <%= petition.money_request %></div>
        <div>Requested</div>
      </div>
    </div>
  </div>
</div>
