<div class="card">
  <div>
    <% if petition.image.url %>
      <%= link_to petition_path(petition.id) do %>
        <img class="petition-img" src=<%= image_url(petition.image.url) %> alt="Avatar">
      <% end %>
    <% else %>
      <%= link_to petition_path(petition.id) do %>
        <img class="petition-img" src=http://cdn.modernfarmer.com/wp-content/uploads/2014/12/squirrel.jpg alt="Avatar">
      <% end %>
    <% end %>
  </div>
  <div class="con">
    <%= link_to petition.title, petition_path(petition.id), class: "petition-title" %>
    <%= link_to user_path(petition.user.id) do %>
      <p class="petition-author"><%= petition.user.full_name %></p>
    <% end %>
    <p class="petition-desc"><%= petition.description %></p>
  </div>
  <!-- <div class="con bottom">
    <ul class="petition-stats">
      <li>
        <div class="stats-value"><%= petition.signatures.count %></div>
        <span>signed</span>
      </li>
      <li>
        <div class="stats-value"><%= petition.goal %></div>
        <span>needed</span>
      </li>
      <li>
        <%= link_to petition_path(petition.id) do %>
          <img class="sign-icon" src=<%= image_path("pencil.png") %> alt="Sign">
        <% end %>
      </li>
    </ul>
  </div> -->

  <div class="petition-stats-wrapper">
    <div class="petition-stats-col">
      <img class="petiton-stat-img" src="/assets/supporters_icon.png">
      <div class="petition-stat-stack">
        <div><%= petition.signatures.count %></div>
        <div>Supporters</div>
      </div>
    </div>
    <div class="petition-stats-col">
      <img class="petiton-stat-img" src="/assets/money_icon.png">
      <div class="petition-stat-stack">
        <div>$1000</div>
        <div>Requested</div>
      </div>
    </div>
  </div>
</div>
