<%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Abel|Open+Sans|Source+Sans+Pro" %>
<div>

    <div class="center-info explore-top">
        <%= javascript_include_tag "explore", "data-turbolinks-track" => true  %>
        <h1>Explore Petitions</h1>
        <h2>Diverse Proposals. Be the change you want to see.</h2>

        <div class="container-fluid">
            <div class="row show-grid">
                <!-- <div class="btn-group"> -->
                <% @tags.each do |tag| %>
                    <%= link_to tag_path(tag.id) do %>
                    <button  type="button" class="btn btn-default col-sm-6 col-md-1-5 col-lg-1-5 explore-button"><span class=""><%= tag.name %></span>
                    </button>
                    <% end %>
                <% end %>
                <% if @tags.count < 15 %>
                    <% (15 - @tags.count).times do %>
                        <button  type="button" class="btn btn-default col-sm-6 col-md-1-5 col-lg-1-5 explore-button"><span class=""></span>
                        </button>
                    <% end %>
                <% end %>
                


                <!-- <button type="button" class="btn btn-default col-sm-6 col-md-4-5 col-lg-1-5 explore-button">Clubs</button>
                <button type="button" class="btn btn-default col-sm-6 col-md-5-5 col-lg-1-5 explore-button">Advocacy</button>
                <button type="button" class="btn btn-default col-sm-6 col-md-3-5 col-lg-1-5 explore-button">Outreach</button>
                <button type="button" class="btn btn-default col-sm-6 col-md-2-5 col-lg-1-5 explore-button">Misc.</button>
                <button type="button" class="btn btn-default col-sm-6 col-md-4-5 col-lg-1-5 explore-button">Sports</button> -->
                <!-- </div>
            </div>
            <div class="row">
            <div class=" btn-group"> -->
            <!-- <button type="button" class="btn btn-default col-sm-6 col-md-4-5 col-lg-1-5 explore-button">Buildings</button>
            <button type="button" class="btn btn-default col-sm-6 col-md-5-5 col-lg-1-5 explore-button">Events</button>
            <button type="button" class="btn btn-default col-sm-6 col-md-3-5 col-lg-1-5 explore-button">South Campus</button>
            <button type="button" class="btn btn-default col-sm-6 col-md-2-5 col-lg-1-5 explore-button">Activism</button>
            <button type="button" class="btn btn-default col-sm-6 col-md-4-5 col-lg-1-5 explore-button">North Campus</button> -->
            <!-- </div>
        </div>
        <div class="row">
        <div class=" btn-group"> -->
        <!-- <button type="button" class="btn btn-default col-sm-6 col-md-4-5 col-lg-1-5 explore-button">Food</button>
        <button type="button" class="btn btn-default col-sm-6 col-md-5-5 col-lg-1-5 explore-button">Housing</button>
        <button type="button" class="btn btn-default col-sm-6 col-md-3-5 col-lg-1-5 explore-button">Professors</button>
        <button type="button" class="btn btn-default col-sm-6 col-md-2-5 col-lg-1-5 explore-button">Healthcare</button>
        <button type="button" class="btn btn-default col-sm-6 col-md-4-5 col-lg-1-5 explore-button">Technology</button> -->
        <!-- </div> -->
    </div>
</div>



<!-- <div class="btn-group btn-matrix">
<div class="row">
<button type="button" class="btn btn-default">Clubs</button>
<button type="button" class="btn btn-default">Advocacy</button>
<button type="button" class="btn btn-default">Outreach</button>
</div>
<div>
<button type="button" class="btn btn-default">Misc</button>
<button type="button" class="btn btn-default">Sports</button>
<button type="button" class="btn btn-default">Buildings</button>
</div>
<div>
<button type="button" class="btn btn-default">Events</button>
<button type="button" class="btn btn-default">South Campus</button>
<button type="button" class="btn btn-default">Activism</button>
</div>
<div>
<button type="button" class="btn btn-default">North Campus</button>
<button type="button" class="btn btn-default">Food</button>
<button type="button" class="btn btn-default">Housing</button>
</div>
<div>
<button type="button" class="btn btn-default">Professors</button>
<button type="button" class="btn btn-default">Healthcare</button>
<button type="button" class="btn btn-default">Technology</button>
</div>
</div> -->
<!-- <h1>UCLA's platform for change</h1>
<h2>12,342 students are taking action.</h2>
<h2 style="color:#cc0000">Victories every day.</h2>
<%= link_to "START PETITION", new_petition_path, :class => "button" %> -->
</div>
<% count = 0 %>
<ul class="petition-ul">
    <% @petitions.each do |petition| %>
    <% if count % 4 == 0 && count != 0 %>
</ul>
<ul>
    <% end %>
    <li>
        <%= render 'shared/post', petition: petition %>
    </li>
    <% count = count + 1 %>
    <% end %>
</ul>
</div>
