<%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Abel|Open+Sans|Source+Sans+Pro" %>
<div>

    <div class="center-info" id="explore-top">
        <%= javascript_include_tag "explore", "data-turbolinks-track" => true  %>
        <h1>Explore Petitions</h1>
        <h2>Diverse Proposals. Be the change you want to see.</h2>

        <div class="container-fluid" id="explore-buttons-grid">
            <div class="row show-grid">

                <% @tags.each do |tag| %>
                    <%= link_to tag_path(tag.id) do %>
                    <button  type="button" class="btn btn-default col-sm-6 col-md-1-5 col-lg-1-5" id="explore-button"><span class=""><%= tag.name %></span>
                    </button>
                    <% end %>
                <% end %>
                <% if @tags.count < 15 %>
                    <% (15 - @tags.count).times do %>
                        <button  type="button" class="btn btn-default col-sm-6 col-md-1-5 col-lg-1-5" id="explore-button"><span class=""></span>
                        </button>
                    <% end %>
                <% end %>

                 </div>
            </div>
        </div>

    </div>
    <% count = 0 %>
    <ul class="petition-ul">
        <% @petitions.each do |petition| %>
        <% if count % 4 == 0 && count != 0 %>
    </ul>
    <ul>
        <% end %>
        <li>
            <%= render 'shared/post', petition: petition %>
        </li>
        <% count = count + 1 %>
        <% end %>
    </ul>
</div>
