<%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Abel|Open+Sans|Source+Sans+Pro" %>
<% @title = "Explore" %>
<div class="center-info" id="explore-top" >
<!-- style="background-image: url('<%= image_url("colorful_circles.png") %>')" -->
    <%= javascript_include_tag "explore", "data-turbolinks-track" => true  %>
    <h1 id="explore-title">Explore Petitions</h1>
    <h2>Diverse Proposals. Be the change you want to see.</h2>

      		
    


 <!--   <div class="container-fluid" id="explore-buttons-grid"> -->
   <!-- 	 <div class="row show-grid">  -->
    	  <div id="explore-chart"></div>
            <% @tags.each do |tag| %>
            <!--
         	<script>
         		var name = "<%= tag.name %>";
         		alert(name);

         	</script>
         	-->


            <script>

            var name = "<%= tag.name %>";
            var url = "http://google.com/"; //change this later once figured out how to get from ruby
            

            jsonify(name, url); //jsonify the bubbles for easier documentation
            makeBubble(name, url);
            </script>

            <%= link_to tag_path(tag.id) do %>
            <!--
            <button  type="button" class="btn btn-default" id="explore-button"><div class=""><%= tag.name %></div>
            </button> -->
            <% end %>
            <% end %>
            <!--<% if @tags.count < 12 %>
            <% (12 - @tags.count).times do %>
            <button  type="button" class="btn btn-default" id="explore-button"><div class=""></div>
            </button>
            <% end %>
            <% end %>-->

     <!--  </div> -->
 <!--   </div>  -->
</div>

