<div class="center-info" style="background-image: url('<%= image_url("royce_icon.png") %>')">
  <p class="home-title">UCLA's Platform for Change</p>
  <p class="home-subtitle"><%= @users_count %> students are taking action.</p>
  <p class="home-subtitle home-subtitle--victories"><u>Victories every day.</u></p>
  <br>
  <%= link_to "START PETITION", new_petition_path, :class => "button start-pet-btn" %>
  <div id="petition-carousel" class="carousel slide hidden-xs" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#petition-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#petition-carousel" data-slide-to="1"></li>
      <li data-target="#petition-carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <% @top_petitions.each_with_index do |petition, index| %>
        <div class="item <%= index == 0 ? "active" : "" %> carousel-item">
          <div class="petition-status">
            <span><% if petition.status == "closed" %>
                <%= image_tag "closed_badge.png" %>
            <% elsif petition.status == "victory" %>
                <%= image_tag "victory_badge.png" %>
            <% else %>
                <%= image_tag "active_badge.png" %>
            <% end %></span>
          </div>

          <div class="carousel-content-wrapper">
            <%= render 'shared/featured_petition', petition: petition %>
          </div>
        </div>
      <% end %>
    </div>

      <!-- Left and right controls -->
    <a class="left carousel-control" href="#petition-carousel" data-slide="prev">
      <span class="vertical-center"></span><%= image_tag "Left Next Button.png", width: "40px", height: "40px", class: "carousel-arrow" %>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#petition-carousel" data-slide="next">
      <span class="vertical-center"></span><%= image_tag "Right Next Button.png", width: "40px", height: "40px", class: "carousel-arrow" %>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<% count = 0 %>
<div class="popular">
  <h1 class="home-popular-title">What's Popular</h1>
  <div class="home-petition-wrapper">
    <div class="petition-cards">
      <ul>
        <% @petitions.each do |petition| %>
          <li><%= render 'shared/post', petition: petition %></li>
        <% end %>
        <% if @petitions.count % 3 == 1 %>
          <li></li>
          <li></li>
        <% elsif @petitions.count % 3 == 2 %>
          <li></li>
        <% end %>
      </ul>
    </div>
    <!--<div id="infinite-scrolling">-->
      <%= will_paginate @petitions %>
    <!--</div>-->
  </div>
</div>
