<%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Abel|Open+Sans|Source+Sans+Pro" %>
<% @title = "Explore" %>

<body style="background: linear-gradient(to top, rgb(124, 172, 249), rgb(255,255,255)) fixed;">
<h1 class="impact-header" id="header" style="width: 50%; margin: 0 auto; margin-top: 30px; font-size:500%; text-align: center; color: rgb(30, 56, 99); font-weight: 700"> Impact </h1>

<div style="width: 100%; height: 50;">
<div class = "count count-impact" style="float: left; margin-left: 20%; width: 40%; height: 40%; display: inline-block" >
  <p class="count-text"> Successful Petitions </p>
  <div id="count3" class="hidden"><%= @petitions_count %></div>
  <div id="odometer3" class="odometer" style="size: 200%"></div>
  <!-- <div id="odometer3" class="odometer odometer-auto-theme" style="size: 200%"><div class="odometer-inside"><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">2</span></span></span></span></span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">3</span></span></span></span></span></div></div> -->
</div>
<div class = "count count-impact" style="float: left; width: 40%; height: 40%; display: inline-block" >
  <p class="count-text"> Total number of Signatures </p>
  <p style="font-family:Apple Chancery; font-size: 250%"> 563 </p>
  <!-- //<div class= "pen-image" style="background-image: url('<%= image_url("tag.png") %>')"></div> -->
</div>
</div>

<div style="width: 100%; height: 50%">
  <div style="float:left; margin-left: 2.5%; margin-top: 5%; height: 30%; width: 30%">
    <%= line_chart @data_petitions_started %>
  </div>
  <div style="float: left; margin-left: 2.5%; width:30%; height: 30%; margin-top: 5%; display: inline-block">
    <%= pie_chart @data_pie_chart%>
  </div>
  <div style="margin-left: 2.5%; width:30%; height: 30%; margin-top: 5%; display: inline-block">
    <%= line_chart @data_petitions_signed%>
  </div>
</div>

<script>

document.addEventListener("DOMContentLoaded", function() {
  //do work
  setTimeout(function(){
    var odometer3 = document.getElementById("odometer3");
    odometer3.innerHTML = 23;
  }, 1000);
});

document.addEventListener("turbolinks:load", function() {
  setTimeout(function(){
    var odometer3 = document.getElementById("odometer3");
    odometer3.innerHTML = 23;
  }, 1000);
});

</script>
</body>
