<% @title = "Search for " + @search %>
<div class="search-results">
  <div class="search-users">
    <div class="search-repeat">
      <span class="search-title">Explore Users</span>
      <p class="search-description"> containing keyword '<%= @search %>'</p>
    </div>
    <ul>
      <% @users.each do |user| %>
        <%= link_to user_path(user) do %>
          <li class="search-user-card">
            <% if user.profile_pic.url %>
              <img class="search-user-icon" src=<%= image_path(user.profile_pic.url) %> alt="Profile picture">
            <% else %>
              <img class="search-user-icon" src=<%= image_path("default_profile_picture.png") %> alt="Profile picture">
            <% end %>
            <div class="search-user-name">
              <p><%= user.first_name.capitalize + " " + user.last_name.capitalize %></p>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
    <%= will_paginate @users %>
  </div>

  <div class="search-repeat">
    <span class="search-title">Explore Tags</span>
    <p class="search-description"> containing keyword '<%= @search %>'</p>
  </div>
  <div class="search-tags">
    <ul>
      <% @tags.each do |tag| %>
        <div class="tag-container col-lg-3">
          <%= link_to tag_path(tag.id) do %>

            <img class= "tag-image" style="background-image: url('<%= image_url("tag.png") %>')"/>
            <button class="trending-tag"><%= tag %></button>
          <% end %>
        </div>
      <% end %>
    </ul>
    <%= will_paginate @tags %>
  </div>

  <div class="search-repeat">
    <span class="search-title">Explore Petitions</span>
    <p class="search-description"> containing keyword '<%= @search %>'</p>
  </div>
  <div class="petition-cards">
    <ul>
      <% @petitions.each do |petition| %>
        <li>
          <%= render 'shared/post', petition: petition %>
        </li>
      <% end %>
      <% if @petitions.count % 3 == 1 %>
        <li></li>
        <li></li>
      <% end %>
    </ul>
    <%= will_paginate @petitions %>
  </div>
</div>
