<div style="margin-top:50px; margin-bottom:100px">
  <div class="text-center">
  <br/><br/>
  <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, class: "btn btn-primary btn-lg" %>
  </div>
  <br/><br/>
  <% if !Rails.env.production? %> 
    <div class="container padded text-center">
      <h1 class="new-petition-title"><b>Log in</b></h1><br>
      <div style="width:50%; margin:auto">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field login-field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field login-field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field login-field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="actions login-field">
            <%= f.submit "Log in", class: "btn btn-primary" %>
          </div>
          <br>
        <% end %>

        <div class="login-field" style="width:81%">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
