<!DOCTYPE html>
<html>
  <head>
    <title>Bruinspeak</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href=<%= image_path("logo.png") %> />

    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'shared/navbar'%>
    <% if notice %>
        <p class="notice alert alert-success" role="alert"><%= notice %></p>
    <% elsif alert %>
        <p class="alert alert-danger" role="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
    <%= render partial: 'shared/footer'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
